<%- include('./partials/header')%>
<body>
<main>
        <form id="new-form" action="/groceries" method="POST">
          <label>Item:</label>
          <input type="text" name="item">
          <label>Category:</label>
          <select name="category">
            <option value="Produce">Produce</option>
            <option value="Meat">Meat</option>
            <option value="Grocery">Grocery</option>
            <option value="Dairy">Dairy</option>
            <option value="Frozen">Frozen</option>
          </select>
          <label>Estimation:</label>
          <input type="number" name="money">
          <input type="submit" value="Add Item">
        </form>
        <table>
          <thead>
              <tr>
                  <th>Item</th>
                  <th>Category</th>
                  <th>Estimation</th>
              </tr>
          </thead>
          <tbody>
              <% groceries.forEach(function(g){ %>
                  <td><%= g.item %></td>
                  <td><%= g.category %></td>
                  <td><%= g.money %></td>
              <% }); %>
          </tbody>
      </table>
</main>
</body>
</html>

